.header-row {
    padding: 10px;
    text-align: center;
}

#title-resource {
    text-align: center;
    padding: 10px;
    font-weight: lighter;
}

.text-center {
    text-align: center;
}

.list-header {
    text-align: center;
    color: #333333;
    font-weight: lighter;
}

#bio {
    text-align: center;
    padding: 20px;
}

.rounded-circle {
    width: 200px;
    height: 200px;
}

#left-padding {
    padding-left: 50px;
}

#overtime {
    background: grey;
}

#placeholder {
    height: 300px;
    background: grey;
    border-style: solid;
    border-color: white;
}
  