.header-row {
    padding: 20px;
    text-align: center;
}

#title-resource {
    text-align: center;
    padding: 10px;
    font-weight: lighter;
}

.text-center {
    text-align: center;
}

.list-header {
    text-align: center;
    color: #333333;
    font-weight: lighter;
}

#bio {
    text-align: center;
    padding: 20px;
}

.rounded-circle {
    width: 200px;
    height: 200px;
}
  